body {
  /* background: #282c34; */
  background: #22a6b3;
}

.App {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header > small {
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 14px;
}

.App-content {
  /* background-color: #282c34; */
  min-height: 100vh;
  max-width: calc(100%);
  font-size: calc(10px + 2vmin);
}

.App-content-table-body {
  color: whitesmoke;
}

.App-content-select {
  color: white !important;
}

.App-content-cell {
  text-align: center;
  position: relative;
  height: 180px;
}
.App-content-cell > h2 {
  color: #686de0;
}
.App-content-cell > h4 {
  position: absolute;
  padding-top: 30px;
  bottom: 5px;
  right: 5px;
}

.App-content-date {
  color: #ccc;
}

.App-content-date-empty {
  background: whitesmoke;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
